.header-con {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.sidebar-item {
    padding: 18px 20px;
    color: white;
}

#sidebar-button {
    font-size: 25px;
    cursor: pointer;
}

.sidebar-menu {
    width: 150px;
    position: absolute;
    z-index: 555;
    background: black;
    left: 0;
    top: 56px;
    transition: left 0.4s ease-in-out, opacity 0.5s ease-in-out;
}

.sidebar-open {
    left: 0;
    opacity: 1;
}

.sidebar-closed {
    left: -250px;
    opacity: 0;
}