* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: unset;
}

button{
  background-color: transparent;
  border: none;
}

input {
  outline: none;
  border: none;
}

input[type="number"] {
  counter-increment: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

input:disabled {
  cursor: not-allowed;
}

button:disabled {
  cursor: not-allowed;
}